<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link href="/static/style.css" rel="stylesheet">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <script src="https://kit.fontawesome.com/35e2634067.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="header">
            <a href="/Home">
                <img src="https://preview.redd.it/cqwn4k37ic731.png?auto=webp&s=0e25ec545efa6476d895bb0b75afe2f14292ca71" alt="logo" class="logo">
            </a>
            <a href="#" class="toggle-btn">
                <span class="bar"></span>
                <span class="bar"></span>
                <an class="bar"></span>
                <span class="bar"></span>
            </a>
            <nav class="nav">
                <ul>
                    <li><a href="/Home">Home</a></li>
                    <li><a href="/Your Anarchy Score">Your Anarchy Score</a></li>
                    <li><a href="/The Memes">The Memes</a></li>
                    <li><a href="/Today's Posts">Today's Posts</a></li>
                    <li><a href="/About">About</a></li>
                </ul>
            </nav>
        </header>
        <div class="homepage">
            <section class="main-section">
                <div class="container">
                    <div class="quote-a">
                        <p class="quote-text">"You was doing PIPI in your pampers when I was beating players much more stronger than you"</p>
                    </div>
                    <a href="https://www.reddit.com/r/AnarchyChess/">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Chess_qdt45.svg/800px-Chess_qdt45.svg.png" alt="image-a" class="image-a">
                    </a>
                </div>
                <div>
                    <p class="message">Welcome to r/AnarchyChess, the most intellectual place for the highest level of
                        Chess discussion on internet. Is en passant forced? Will Martin ever stop beating his kids? And how does the
                        horsey really move? If such questions keep your up at night, you will fit right in!
                    </p>
                </div>
            </section>
            <section class="main-section">
                <div class="container">
                    <a href="/Your Anarchy Score">
                        <img src="https://cdn.pixabay.com/photo/2012/04/18/00/41/chess-36308_1280.png" alt="image" class="image-b">
                    </a>
                    <div class="quote-b">
                        <p class="quote-text">"You play Chess to be challanged mentally, I play Chess because I am mentally challanged, we are not the same"</p>
                    </div>
                </div>
                <div>
                <p class="message">
                    Chess has Elo, we have ASS (Anarchy Score System)! Want to know how you stack up against other members
                    outside the Chess board? Get your own Anarchy Score now, based on your Reddit activity. Remember,
                    bigger the score, bigger the pipi!
                </p>
                </div>
            </section>
            <section class="main-section">
                <div class="container">
                    <div class="quote-a">
                        <p class="quote-text">"The ability to play Chess is a sign of a gentleman, the ability to play Chess well is a sign of a wasted life"</p>
                    </div>
                    <a href="/The Memes">
                        <img src="https://cdn2.iconfinder.com/data/icons/complete-common-version-6-7/1024/rook-512.png" alt="image" class="image-a">
                    </a>
                </div>
                <div>
                <p class="message">
                    Don't understand our galaxy brain high iQ 5head memes? We got you covered! Check out The Memes
                    for the explanations of our most celebrated memes. Yes, we got all 4 of them!
                </p>
                </div>
            </section>
            <section class="main-section">
                <div class="container">
                    <a href="/Today's Posts">
                        <img src="https://cdn.pixabay.com/photo/2012/04/18/00/40/chess-36305_1280.png" alt="image" class="image-b">
                    </a>
                    <div class="quote-b">
                        <p class="quote-text">"I literally don't care"</p>
                    </div>
                </div>
                <div>
                <p class="message">
                    Is someone bullying the Lond*n playing kid on the front page again? What new memes have reached
                    the top today? Did another new response drop? Check out Today's Posts for the top 10 hottest posts
                    of today!
                </p>
                </div>
            </section>
        </div>
        <footer>
            <div class="footer-content">
                <a href="https://www.reddit.com/r/AnarchyChess/">
                    <h3>r/AnarchyChess</h3>
                </a>
                <p>r/AnarchyChess is a Chess-circlejerk humor subreddit which
                    I have been an active member of for over 2 years. This is my first ever website
                    which I created for my Final Project for Harvard's CS50. For more info, check the about page.
                    You can join the subreddit, its discord server and connect with me on
                    Github and Linkedin from below.
                </p>
                <ul class="socials">
                    <li>
                        <a href="https://www.reddit.com/r/AnarchyChess/"><i class="fa-brands fa-reddit"></i></a>
                    </li>
                    <li>
                        <a href="https://discord.gg/P3BnpqWewB/"><i class="fa-brands fa-discord"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/arnab-saha-98b392241"><i class="fa-brands fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/Arnab-Saha-7"><i class="fa-brands fa-github"></i></a>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom">
                <p>Made by Arnab Saha</p>
            </div>
        </footer>
        <script>
            const toggleButton = document.getElementsByClassName('toggle-btn')[0];
            const navlinks = document.getElementsByClassName('nav')[0];

            toggleButton.addEventListener('click', () => {
                navlinks.classList.toggle('active')
            })
        </script>
    </body>
</html>