<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Score</title>
        <script src="https://kit.fontawesome.com/35e2634067.js" crossorigin="anonymous"></script>
        <link href="/static/style.css" rel="stylesheet">
        <meta name="viewport" content="initial-scale=1, width=device-width">
    </head>
    <body>
        <header class="header">
            <a href="/Home">
                <img src="https://preview.redd.it/cqwn4k37ic731.png?auto=webp&s=0e25ec545efa6476d895bb0b75afe2f14292ca71" alt="logo" class="logo">
            </a>
            <a href="#" class="toggle-btn">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <nav class="nav">
                <ul>
                    <li><a href="/Home">Home</a></li>
                    <li><a href="/Your Anarchy Score">Your Anarchy Score</a></li>
                    <li><a href="/The Memes">The Memes</a></li>
                    <li><a href="/Today's Posts">Today's Posts</a></li>
                    <li><a href="/About">About</a></li>
                </ul>
            </nav>
        </header>
        <div class="score">
            <div>
                <h1>ASS</h1>
                <p>
                    Greetings u/{{ username }}! This is ASS, the Anarchy Score System. This highly advanced
                    technology has been designed by none other than Gary Chess' greatest rival, Anantoly Checkers
                    himself! He has looked through your last {{ user_info.comments}} comments and
                    {{ user_info.words }} words and has given you your own ASS rating! Check it out!

                </p>
            </div>
            <table class="table-body">
                <thead>
                    <tr>
                        <th>The Memes</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>You have said "pipi"</td>
                        <td>{{ user_info.pipi }} times</td>
                    </tr>
                    <tr>
                        <td>You have pipid (pipied?) your "pampers'</td>
                        <td>{{ user_info.pampers }} times</td>
                    </tr>
                    <tr>
                        <td>You have taken "en passant"</td>
                        <td>{{ user_info.passant }} times</td>
                    </tr>
                    <tr>
                        <td>You have screamed "holy hell" </td>
                        <td>{{ user_info.hell }} times</td>
                    </tr>
                    <tr>
                        <td>You have been "brick'ed</td>
                        <td>{{ user_info.brick }} times</td>
                    </tr>
                    <tr>
                        <td>You have praised "Gary Chess" </td>
                        <td>{{ user_info.gary }} times</td>
                    </tr>
                    <tr>
                        <td>You have been beaten by "Petrosian" </td>
                        <td>{{ user_info.petrosian }} times</td>
                    </tr>
                    <tr>
                        <td>You have simped for "Ben Finegold" </td>
                        <td>{{ user_info.finegold }} times</td>
                    </tr>
                    <tr>
                        <td>You have questioned the movement of the "horsey" </td>
                        <td>{{ user_info.horsey }} times</td>
                    </tr>
                    <tr>
                        <td>You have studied the advance theory of "bongcloud" </td>
                        <td>{{ user_info.bongcloud }} times</td>
                    </tr>
                    <tr>
                        <td>You have bullied people who play the "Lond*n system" </td>
                        <td>{{ user_info.london }} times</td>
                    </tr>
                    <tr>
                        <td>You have uninstalled "chess.c*m" </td>
                        <td>{{ user_info.chessdotcum }} times</td>
                    </tr>
                    <tr>
                        <td>Your total Anarchy Score is </td>
                        <td>{{ user_info.score }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer>
            <div class="footer-content">
                <a href="https://www.reddit.com/r/AnarchyChess/">
                    <h3>r/AnarchyChess</h3>
                </a>
                <p>r/AnarchyChess is a Chess-circlejerk humor subreddit which
                    I have been an active member of for over 2 years. This is my first ever website
                    which I created for my Final Project for Harvard's CS50. For more info, check the about page.
                    You can join the subreddit, its discord server and connect with me on
                    Github and Linkedin from below.
                </p>
                <ul class="socials">
                    <li>
                        <a href="https://www.reddit.com/r/AnarchyChess/"><i class="fa-brands fa-reddit"></i></a>
                    </li>
                    <li>
                        <a href="https://discord.gg/P3BnpqWewB/"><i class="fa-brands fa-discord"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/arnab-saha-98b392241"><i class="fa-brands fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/Arnab-Saha-7"><i class="fa-brands fa-github"></i></a>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom">
                <p>Made by Arnab Saha</p>
            </div>
        </footer>
        <script>
            const toggleButton = document.getElementsByClassName('toggle-btn')[0];
            const navlinks = document.getElementsByClassName('nav')[0];

            toggleButton.addEventListener('click', () => {
                navlinks.classList.toggle('active')
            })
        </script>
    </body>
</html>