<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The Memes</title>
        <script src="https://kit.fontawesome.com/35e2634067.js" crossorigin="anonymous"></script>
        <link href="/static/style.css" rel="stylesheet">
        <meta name="viewport" content="initial-scale=1, width=device-width">
    </head>
    <body>
        <header class="header">
            <a href="/Home">
                <img src="https://preview.redd.it/cqwn4k37ic731.png?auto=webp&s=0e25ec545efa6476d895bb0b75afe2f14292ca71" alt="logo" class="logo">
            </a>
            <a href="#" class="toggle-btn">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <nav class="nav">
                <ul>
                    <li><a href="/Home">Home</a></li>
                    <li><a href="/Your Anarchy Score">Your Anarchy Score</a></li>
                    <li><a href="/The Memes">The Memes</a></li>
                    <li><a href="/Today's Posts">Today's Posts</a></li>
                    <li><a href="/About">About</a></li>
                </ul>
            </nav>
        </header>
        <div class="memes">
            <p>
                r/AnarchyChess is a circle-jerk subreddit for Chess players.
                The subreddit has many memes which are frequently reposted in different forms.
                Explaining such niche memes is a hard task as one needs to have some knowledge
                on the subject to fully understand them or they may not make a whole
                lot of sense. Below is the list of all the main and most popular memes of AnarchyChess,
                with a bit of context, their origin link and an example picture.
            </p>

        </div>
        <div class="accordion">
            <button type="button" class="accordion-button">Google en passant/Holy hell</button>
            <div class="accordion-content">
                <img src="https://i.redd.it/n6syfs2l91961.jpg" alt="logo" class="meme-image">
                <p class="accordion-text">
                    "Google en passant/holy hell" is the most popular and reposted meme of the subreddit. En passant is a move in Chess
                    that can be highly confusing to many beginners and can at times feel like a 'hack'. Beginner forums and
                    major Chess playing sites are notoriously full of newbies complaining about this funny move, many even refusing to
                    believe it is a real move at all. Once such a question was asked on another Chess related subreddit, r/Chessbeginners.
                    In the comments, one of the members suggested the user to "Google en passant", to which the user replied, "Holy hell!"
                    And that's basically how it all began. There have been many different variations of this meme with many different
                    responses, but this meme is still alive and being reposted in some form or the other like 50 times a day.
                </p>
                <a class="origin" href="https://www.reddit.com/r/AnarchyChess/comments/kpc7ig/holy_hell/">Main origin</a>
                <p class="accordion-text">There have been many other responses after this meme. New responses are posted
                    very frequently (some would say too frequently) on the subreddit. Here are some of the popular ones.
                </p>
                <div class="origin-container">>
                    <a class="origin" href="https://www.reddit.com/r/AnarchyChess/comments/s66r9b/we_have_a_new_response/">
                        Amazing, I did not know that. Chess is the game that keeps on giving.
                    </a>
                    <a class="origin" href="https://www.reddit.com/r/AnarchyChess/comments/sunk7o/thats_fucked/">
                        thats fucked, why??
                    </a>
                    <a class="origin" href="https://www.reddit.com/r/AnarchyChess/comments/sp27od/google_en_passant_declined/">
                        I don't do google Bruh. Too much effects.
                    </a>
                    <a class="origin" href="https://www.reddit.com/r/AnarchyChess/comments/t39i8l/new_response_just_dropped/">
                        Haha, chess is interesting. Now I'm going to kill myself
                    </a>
                    <a class="origin" href="https://www.reddit.com/r/AnarchyChess/comments/tdmvc3/ok/">
                        I know what en passant is dumbass you just blundered mate in one
                    </a>
                </div>
            </div>
        </div>
        <div class="accordion">
            <button type="button" class="accordion-button">"Pipi in your pampers"</button>
            <div class="accordion-content">
                <img src="https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/2Ke21-0/phpr2n5x4.png" alt="logo" class="meme-image">
                <p class="accordion-text">
                    "Pipi in your pampers" is the most popular copypasta in AnarchyChess. The serious context behind
                    it makes it even funnier. After a game in the 2020 PRO Chess League, GM Wesly So accused
                    GM Tigran L. Petrosian of cheating openly on Chess.com forum. This was a very serious accusation
                    but Petrosian handled it in a very unexpected way. He wrote an entire paragraph challanging So's
                    accusation in broken English (he is Armenian), insulting him with gems like "You was doing PIPI in your pampers
                    when I was beating players much more stronger than you!", "Be brave, be honest to yourself and stop this trush
                    talking", "'w'esly 's'o is nobody for me" and ending with "God bless with true! True will never die ! Liers will
                    kicked off...". Yes, these were actual words written by a Grandmaster, which will forever live in the memories of Chess
                    enthuiasts!
                </p>
                <a class="origin" href="https://archive.ph/2Icua">Origin</a>
            </div>
        </div>
        <div class="accordion">
            <button type="button" class="accordion-button">Bongcloud Attack (1.e4 e5 2.Ke2)</button>
            <div class="accordion-content">
                <img src="https://i.ytimg.com/vi/zVCst6vyV80/maxresdefault.jpg" alt="logo" class="meme-image">
                <p class="accordion-text">
                    Bongcloud Attack (1.e4 e5 2.Ke2) is a meme Chess opening for White. This intentionally
                    breaks the fundamental opening principles of Chess by bringing the King out on the
                    second move of the game, losing castling rights and blocking both the light squared Bishop
                    and the Queen from developing. This is objectively bad but it is often ironically referred to as the
                    greatest opening of all time. Grandmaster and streamer Hikaru Nakamura and World Champion
                    Magnus Carlsen are one of the reasons behind the popularity of this opening as they played it quite
                    often online as a joke and still managed to win most of the times. Bongcloud is White
                    repertoire of every AnarchyChess member.
                </p>
                <a class="origin" href="http://i.4pcdn.org/tg/1401479151063.pdf">Origin</a>
            </div>
        </div>
        <div class="accordion">
            <button type="button" class="accordion-button">"I literally don't care"</button>
            <div class="accordion-content">
                <img src="https://preview.redd.it/85ejmyem2yp61.jpg?width=960&crop=smart&auto=webp&s=bd5673c3507aec3d32dc75e218c2e8836bd1385e" alt="logo" class="meme-image">
                <p class="accordion-text">
                    Hikaru Nakamura is a Chess Grandmaster turned twich streamer. He is one of the best
                    speed chess players in the world but can also be a bit salty at times after losing.
                    After being flagged (losing on time) by fellow streamer Chessbrah (GM Eric Hansen)
                    he repeatedly kept telling chat how doesn't care about the loss at all. Which as
                    one would hope, was turned into a meme.
                </p>
                <a class="origin" href="https://www.youtube.com/watch?v=davarlKjOFs&t=375s">Origin</a>
            </div>
        </div>
        <div class="accordion">
            <button type="button" class="accordion-button">Garry Chess, the inventor of Chess</button>
            <div class="accordion-content">
                <img src="https://i.redd.it/026v2xsmru661.jpg" alt="logo" class="meme-image">
                <p class="accordion-text">
                    Garry Kasparov is the 13th World Chess Champion and is regarded as the greatest Chess player of all
                    time. Some also believe that his real name is Garry Chess and he invented Chess.
                </p>
                <a class="origin" href="https://garrychess.com/">Origin</a>
            </div>
        </div>
        <div class="accordion">
            <button type="button" class="accordion-button">Adult soul of a father</button>
            <div class="accordion-content">
                <img src="https://preview.redd.it/oq2pd841q8p61.png?auto=webp&s=78671414e0ad5c968891db04cda4d70ac32ba1c5" alt="logo" class="meme-image">
                <p class="accordion-text">
                    The popular Chess streamer and Youtuber GothamChess (IM Levy Rozman) got into a really big
                    controversy after he exposed Dewa Kipas, a player from Indonesia, as a cheater which resulted Kipas
                    being banned from Chess.con. This caused massive outrage in Indonesia who believed that Kipas
                    was wrongfully treated and GothamChess used his connections to get him banned. Many Indonesians
                    made all kinds of threats to Levy, it even got to a point when he had to restrict his videos from
                    Indonesia. Ultimately, it was decided that Dewa Kipas would play a match against WGM Irene Sukandar
                    live over the board on a stream of a very popular Indonesian streamer to prove that his skills are real
                    and he is not a cheater. However, he went on to lose all the games, making ameturish blunders. It proved
                    that he really was a cheater. Unfortunately many Indonesians still didn't believe it. One such person claimed
                    that he intentionally lost because he didn't want Sukandar to look bad, out of his fatherly affection. And he asked
                    the accusers to understand the "adult soul of a father".
                </p>
                <a class="origin" href="https://archive.ph/h3oAd">Origin</a>
            </div>
        </div>
        <div class="accordion">
            <button type="button" class="accordion-button">Ruy Lopez</button>
            <div class="accordion-content">
                <img src="https://preview.redd.it/8nv2pfv4ird61.jpg?auto=webp&s=b376e53897c829855de27bb5084691ef078401e1" alt="logo" class="meme-image">
                <p class="accordion-text">
                    The Ruy López, also called the Spanish Opening or Spanish Game, is a chess opening characterised by the moves:
                    1. e4 e5 2. Nf3 Nc6 3. Bb5
                    The Ruy López is named after 16th-century Spanish priest Ruy López de Segura. Why did this become a meme?
                    No one really knows.
                 </p>
                <a class="origin" href="https://www.reddit.com/r/AnarchyChess/comments/n058hs/the_roy_lopez/">Origin</a>
            </div>
        </div>
        <div class="accordion">
            <button type="button" class="accordion-button">Bricking pipi</button>
            <div class="accordion-content">
                <img src="https://external-preview.redd.it/euR9xQ_alTYRVBthcoss4WLtCJoR3C8HhLV-4Lo825g.jpg?auto=webp&s=6daab49d05728218d7ca09f16b2ca394ae8ead7c" alt="logo" class="meme-image">
                <p class="accordion-text">
                    Bricking one's pipi/dropping a brick on someone's pipi combines several memes. It takes the pipi
                    from Tigran Petrosian copypasta and the en passant meme. Some people believed in the idea that
                    en passant should be forced. Then one user suggested that it is not forced, but if you decline
                    it, a brick would be dropped on your` pipi. What happens to wom*n then? Sadly there is no clear answer
                    as members of r/AnarchyChess follow the wisdom of Bobby Fischer and very rarely (almost never)
                    interact with one.
                 </p>
                <a class="origin" href="https://www.reddit.com/r/AnarchyChess/comments/mzrx2o/my_workout_punishments_for_chess_blunders/">Origin</a>
            </div>
        </div>
        <div class="accordion">
            <button type="button" class="accordion-button">161660</button>
            <div class="accordion-content">
                <img src="https://preview.redd.it/y8sds71m1pt61.png?auto=webp&s=3116ea70788a21ece46a3e822fe6b228289b35ca" alt="logo" class="meme-image">
                <p class="accordion-text">
                    Popular streamer/YouTuber GothamChess (IM Levy Rozman) had a very popular series on Youtuber named
                    "Guess the Elo" where he tried to review the games sent by his subscribers and guess their Chess
                    rating. In one such episode, he makes fun of a player who did not play up to his rating and made rookie
                    mistakes, such as not trapping his opponent's Queen by Playing Rook to a4 square and hanging a piece on
                    as early as move 6 of the game. He estimated his rating to be around
                    1300 but was shocked to see that he actually was 1660. He made a rap on the go mocking that person
                    where he mistakenly said "161660" instead of 1660. This became a meme.
                 </p>
                <a class="origin" href="https://www.reddit.com/r/AnarchyChess/comments/mp62co/rchess_mods_deleted_this_post_yall_deserve_this/">Origin</a>
            </div>
        </div>
        <div class="accordion">
            <button type="button" class="accordion-button">"I saw Ra4, I just didn't like it"</button>
            <div class="accordion-content">
                <img src="https://preview.redd.it/2qhefx5hfiv61.png?auto=webp&s=2b456bdf68a6147e11d40ba58a7c6a3679480f4a" alt="logo" class="meme-image">
                <p class="accordion-text">
                    This meme is related to the previous one. One YouTube rapper named Young Elo made a response rap
                    on behalf of the person with 1660 rating.The song opened with "Look, I saw Ra4,
                    I just didn't like it, you are not a psychic, you Hikaru's sidekick/Levu tryna act like he's so
                    motherfucking rightous..". This song had many such catchy lines and becaame very popular in the
                    community who welcomed the idea of Rap Battles in Chess.
                 </p>
                <a class="origin" href="https://www.reddit.com/r/AnarchyChess/comments/ms77t7/levy_messed_with_the_wrong_1600/">Origin</a>
            </div>
        </div>
        <div class="accordion">
            <button type="button" class="accordion-button">unusual for an American woman</button>
            <div class="accordion-content">
                <img src="https://preview.redd.it/5fb1p69ovu661.png?auto=webp&s=0489dc56e882b33857870b7d4c8c5d220735b539" alt="logo" class="meme-image">
                <p class="accordion-text">
                    Chess.com forums (and most Chess forums) are notorious for people making weird or creepy comments on
                    wom*n especially the ones who play Chess. Here is such an example. One Chess.com user posts a picture
                    of popular streamer WFM Alexandra Botez with the caption "Did anybody notice Alexandra doesn't have
                    any visible tattoos? It's unusual for an American woman". Not only this is very odd comment to make
                    on a Chess forum, but it's also very wrong as Alexandra is Canadian. Not that it means most American
                    wom*n have visible tattoos.
                </p>
                <a class="origin" href="https://www.reddit.com/r/AnarchyChess/comments/kil2l1/average_chesscom_user/">Origin</a>
            </div>
        </div>
        <div class="accordion">
            <button type="button" class="accordion-button">Thanks *dry humps your leg*</button>
            <div class="accordion-content">
                <img src="https://preview.redd.it/pc4kttpohfi61.jpg?width=640&crop=smart&auto=webp&s=bf8b28ad31088ffe7426986d3a8dac2ef421bdfb" alt="logo" class="meme-image">
                <p class="accordion-text">
                    On the main Chess subreddit, r/Chess, one user asked a question about how a certain position was
                    checkmate. Upon recieving the answer, he replied with "Thanks *dry humps your legs*". The person
                    who replied originally regretted his action.

                <a class="origin" href="https://archive.ph/CDFcP">Origin</a>
            </div>
        </div>
        <div class="accordion">
            <button type="button" class="accordion-button">Magnus Carlsen is unquestionablly one of the Chess players in Chess history</button>
            <div class="accordion-content">
                <img src="https://external-preview.redd.it/ZKep_DtcrrDZaO-Mk50VlqAcIwkTXIQWf_RVqLODx_k.jpg?width=640&crop=smart&auto=webp&s=a59915236ec8755019394fe62bddb6c5bd16b881" alt="logo" class="meme-image">
                <p class="accordion-text">
                    Magnus Carlsen is considered by many the greatest Chess player to ever live
                    This is just a wordplay on that.
                <a class="origin" href="https://www.reddit.com/r/AnarchyChess/comments/jkxwt8/carlsen_is_one_of_the_chess_players_in_history/">Origin</a>
            </div>
        </div>
        <footer>
            <div class="footer-content">
                <a href="https://www.reddit.com/r/AnarchyChess/">
                    <h3>r/AnarchyChess</h3>
                </a>
                <p>r/AnarchyChess is a Chess-circlejerk humor subreddit which
                    I have been an active member of for over 2 years. This is my first ever website
                    which I created for my Final Project for Harvard's CS50. For more info, check the about page.
                    You can join the subreddit, its discord server and connect with me on
                    Github and Linkedin from below.
                </p>
                <ul class="socials">
                    <li>
                        <a href="https://www.reddit.com/r/AnarchyChess/"><i class="fa-brands fa-reddit"></i></a>
                    </li>
                    <li>
                        <a href="https://discord.gg/P3BnpqWewB/"><i class="fa-brands fa-discord"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/arnab-saha-98b392241"><i class="fa-brands fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/Arnab-Saha-7"><i class="fa-brands fa-github"></i></a>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom">
                <p>Made by Arnab Saha</p>
            </div>
        </footer>
        <script>
            const toggleButton = document.getElementsByClassName('toggle-btn')[0];
            const navlinks = document.getElementsByClassName('nav')[0];

            toggleButton.addEventListener('click', () => {
                navlinks.classList.toggle('active')
            })
        </script>
        <script>
            document.querySelectorAll('.accordion-button').forEach(button => {
                button.addEventListener('click', () => {
                    const accordionContent = button.nextElementSibling;
                    button.classList.toggle('accordion-button--active');

                    if (button.classList.contains('accordion-button--active')) {
                        accordionContent.style.maxHeight = accordionContent.scrollHeight + 'px';
                    } else {
                        accordionContent.style.maxHeight = 0;
                    }
                })
            })
        </script>
    </body>
</html>